<%- @quips.each do |q| -%>
  <li <%= class_if(q.user == current_user, 'mine') %>>
    <q <%= "class=\"editable\"" if q.user == current_user %> model="quip" id="quip_text" rel="<%= quip_url q, :format => 'js', :authenticity_token => form_authenticity_token %>"><%= q.text %></q>
    <div><cite><%= link_to((q.user.twitter_name.nil? ? q.user.twitter_screen_name : q.user.twitter_name), "http://twitter.com/#{q.user.twitter_screen_name}") %></cite> <em><%= link_to("#{time_ago_in_words(q.created_at)} ago", "http://twitter.com/#{q.user.twitter_screen_name}/status/#{q.twitter_id}") %></em></div>
  </li>
<%- end -%>
