<div id="in_the_sky">
  <div class="container_16">
    <%- form_tag request.url, :id => 'search', :method => 'get' do -%>
      <div class="grid_10 prefix_4"><%= text_field_tag :q, params[:q] %></div>
      <div class="buttons grid_2"><%= link_to "Search", "#", :onclick => "$('search').submit(); return nil;", :class => 'search button' %></div>
      <%# link_to "Clear", "#", :onclick => "$('q').value = ''; $('search').submit(); return nil;", :class => 'cancel button' %>
    <%- end -%>
    <div id="listing" class="grid_10 prefix_4">
      <p>Showing <strong id="quip_count"><%= pluralize @quips.size, 'quip' %></strong> from <strong><%= identify_user(@user) %> timeline.</strong></p>
      <div id="badges">
        <%= link_to_remote 'jQuery Badge', :url => badge_info_url('jquery', :format => 'js', :badge_url => @badge_url), :method => 'get' %>
        <%= link_to_remote 'Prototype Badge', :url => badge_info_url('prototype', :format => 'js', :badge_url => @badge_url), :method => 'get' %>
      </div>
    </div>
  </div>
</div>