<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>quippo</title>
    <%= stylesheet_link_tag 'reset', '960', 'screen', :media => 'all', :cache => true %>
  </head>
  <body class="<%= body_class %>">
    <%= render :partial => 'layouts/flashes' -%>
    <div class="container_16">
      <div id="header" class="grid_5">
        <h1>Quippopotamus</h1>
        <%- if current_user -%>
          <p>You are logged in as <%= current_user.twitter_screen_name %></p>
          <%= link_to 'Logout', authorization_url(current_user.id), :method => 'delete' %>
        <%- else -%>
          <%= link_to 'Login from Twitter', new_authorization_url %>
        <%- end -%>
      </div>
      <div id="content" class="grid_11">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => 'layouts/javascript' %>
  </body>
</html>
