<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>quippo</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <%= stylesheet_link_tag 'reset', '960', 'screen', 'text', :media => 'all', :cache => true %>
  </head>
  <body class="<%= body_class %>">
    <div id="sky">
      <%= render :partial => 'layouts/flashes' -%>
      <%= render :partial => 'layouts/search' %>
      <div id="clouds"></div>
    </div>
    <div class="container_16">
      <div id="header" class="grid_4">
        <h1>Quippopotamus</h1>
        <div id="nav">
          <%- if current_user -%>
            <%= link_to image_tag(current_user.twitter_profile_image_url, :size => '48x48', :alt => 'Avatar'), '#', :id => 'avatar', :title => 'Profile' %>
            <h2><%= current_user.twitter_screen_name %></h2>
            <ul>
              <li <%= "class=\"selected\"" if @user == current_user %>><%= link_to 'My Quips', user_quips_url(current_user.twitter_screen_name) %></li>
              <li <%= "class=\"selected\"" unless @user %>><%= link_to 'All Quips', root_url %></li>
              <li><%= link_to 'Settings', '#' %></li>
              <li><%= link_to 'Logout', logout_url, :method => 'delete', :id => 'logout', :title => 'Logout of Quippopotamus' %></li>
            </ul>
          <%- else -%>
            <ul>
              <li><%= link_to 'Login with Twitter', login_url, :id => 'login', :class => 'button' %></li>
            </ul>
            <h2>Store all of your favorite quips and quotes in one place. <em>Access them anywhere.</em></h2> 
          <%- end -%>
        </div>
      </div>
      <div id="content" class="grid_12">
        <%= yield %>
      </div>
    </div>
    <div id="footer"></div>
    <%= render :partial => 'layouts/javascript' %>
  </body>
</html>
