<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Quippopotamus - Store all of your favorite quips and quotes in one place.</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <%= stylesheet_link_tag 'reset', '960', 'screen', 'text', 'facebox', :media => 'all', :cache => true %>
  </head>
  <body class="<%= body_class %>">
    <div id="sky">
      <%= render :partial => 'layouts/flashes' -%>
      <%= render :partial => 'layouts/search' %>
      <div id="clouds"></div>
    </div>
    <div class="container_16">
      <div id="header" class="grid_4">
        <h1>Quippopotamus</h1>
        <div id="nav">
          <%- if current_user -%>
            <%= link_to image_tag(current_user.twitter_profile_image_url, :size => '48x48', :alt => 'Avatar'), "http://twitter.com/#{current_user.twitter_screen_name}", :id => 'avatar', :title => 'Profile' %>
            <h2><%= current_user.twitter_screen_name %></h2>
            <ul>
              <li <%= class_if(@user == current_user, 'selected') %>><%= link_to 'My Quips', user_quips_url(current_user.twitter_screen_name) %></li>
              <li <%= class_if(!@user, 'selected') %>><%= link_to 'All Quips', root_url %></li>
              <li><a id="help_link" href="#">Help</a></li>
              <li><%= link_to 'Logout', logout_url, :method => 'delete', :id => 'logout', :title => 'Logout of Quippopotamus' %></li>
            </ul>
          <%- else -%>
            <h3>Quippopotamus stores all of your favorite quips and quotes in one place.</h3>
            <h4>Access them anywhere.</h4>
            <hr />
            <ul>
              <li><%= link_to image_tag('/images/icons/favicon_twitter.png') + ' Login with Twitter', login_url, :id => 'login', :class => 'button' %></li>
              <li><a id="help_link" href="#">What is Quippo?</a></li>
            </ul>
          <%- end -%>
        </div>
      </div>
      <div id="content" class="grid_12">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div id="in_the_grass" class="container_16">
        <div class="grid_6 prefix_10">
          <p id="onehub">
            <%= link_to "#{image_tag('/images/logo_onehub_rev100x26.png', :size => '100x26', :alt => 'Powered by Onehub')}", "http://onehub.com", :id => 'logo' %> <span>Quippopotamus is brought to you by <%= link_to "Onehub", "http://onehub.com" %></span>
          </p>
        </div>
      </div>
    </div>
    <%= render :partial => 'layouts/javascript' %>
  </body>
</html>
